body{
    margin: 0;
    background-color: black;
}
  
h1{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
}

header{
    background-color: #00aeff;
    display: flex;
    justify-content: space-between; /*só funciona com display*/
    padding: 1%;
}
  
#galeria-imagens{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#galeria-imagens img{
    max-width: 1860px;
}

#box-categorias button{
    background-image: linear-gradient(to top,rgb(54, 194, 250), rgb(0, 255, 34));
    padding: 13px;
    border-radius: 10px;
}

#box-ordenar button{
    background-image: linear-gradient(to top,rgb(54, 194, 250), rgb(0, 255, 34));
    padding: 13px;
    border-radius: 10px; 
}

#imagem-1 h1{
    border-radius: 5px;
    padding: 2px;
}